* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #fff;
    min-height: 50px;
    display: flex;
    justify-content: space-between;

}

#logo {
    margin: 0 0px 10px 50px;

}

img {
    float: left;
    margin-bottom: 10px;
}

#dropdown {
    display: flex;
    align-self: center;

}

#difficulty {
    max-height: 20px;
    width: 100px;
    margin-right: 100px;
    align-self: center;
}

body {
    background-color: #71ffcb;
 
}


.container {
    width: 500px;
    margin: 50px auto;

}

span {
    font-weight: 600;
    font-size: larger;
    line-height: 500px;
    margin: auto;
 
}

#grid {
    height: 500px;

}

#grid::after {
    display: block;
    content: "";
    clear: both;
}

.square {
    border: solid 1px #000;
    float: left;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: #547ee9;
} 


footer {
    background-color: #fff;
    min-height: 50px;
}

p {
    margin-left: 50px;
    padding-top: 10px;
}